@inject DependencyInjectionExample.Services.ScopedObject ScopedObject
@{
    ViewData["Title"] = "Scoped lifetime";
}

<h2>Result</h2>
@if (Model == ScopedObject)
{
    <div>Scoped lifetime object matched.</div>
}
