@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Env
@inject Microsoft.Extensions.Options.IOptions<DependencyInjectionExample.Settings.ProfileSettings> Profile
@inject DependencyInjectionExample.Services.CharacterService CharacterService
@{
    ViewData["Title"] = "View Injection";
}

<h2>Environment</h2>
<div>@Env.EnvironmentName</div>

<h2>Option</h2>
<div>@Html.DropDownList("Gender", Profile.Value.Genders.Select(_ => new SelectListItem { Text = _, Value = _ }))</div>

<h2>User Service</h2>
<div>@CharacterService.QueryCharacterList().Count</div>
